.product__container {
  grid-template-columns: 3fr 0fr;
  column-gap: 1.875rem;
}

.product__table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1.875rem;
  background-color: var(--container-color); /* Adicionando a cor do container */
  border-radius: var(--border-radius); /* Adicionando bordas arredondadas */
}

.product__table th,
.product__table td {
  padding: 1rem;
  border: 1px solid #ccc;
  text-align: center;
}

.section__title {
  user-select: none;
}
